/*------------ General ------------*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:200');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:200');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:200');

.logo-text {
    font-family: 'Libre Baskerville', serif;
    color: #e2a8a8;
    line-height: 1.5em !important;
    margin: 0;
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
  display: flex;
}
/*------------ Home - Side Bar ------------*/

nav {
    min-width: 300px;
    background: #ffffff;
    flex: 0 0 auto;
    padding: 35px 30px 0px;
    position: fixed;
    height: 100vh;
}

nav ul {
    padding: 0;
}

nav ul li {
    list-style: none;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

nav ul li a {
    color: #444;
}
nav ul li a:hover {
    color: #e2a8a8;
    transition: .2s;
}

.smaller {
    font-size: 11px !important;
    letter-spacing: 1px;
}

.subtitle {
    font-family: 'Open Sans', sans-serif;
    color: #808080;
    text-transform: uppercase;
    margin: 5px 0 0 0 !important;
}



/*------------ Main Area ------------*/

.main {
  flex: 1 1 auto;
  overflow: auto;
  padding:50px;
  margin-left: 300px;
}

.col-3 {
    column-count: 3;
}

.main .post {
    padding: 5px;
}

img {
    width: 100%;
}
  